@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'), url(http://fonts.gstatic.com/s/notosanskr/v3/Pby6FmXiEBPT4ITbgNA5CgmOsk7vyJc.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(http://fonts.gstatic.com/s/notosanskr/v3/Pby7FmXiEBPT4ITbgNA5CgmOelz477IR.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(http://fonts.gstatic.com/s/notosanskr/v3/PbykFmXiEBPT4ITbgNA5CgmG0X7t.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(http://fonts.gstatic.com/s/notosanskr/v3/Pby7FmXiEBPT4ITbgNA5CgmOIl3477IR.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(http://fonts.gstatic.com/s/notosanskr/v3/Pby7FmXiEBPT4ITbgNA5CgmOalv477IR.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans KR Black'), local('NotoSansKR-Black'), url(http://fonts.gstatic.com/s/notosanskr/v3/Pby7FmXiEBPT4ITbgNA5CgmOUln477IR.woff2) format('woff2');
}
